
/*<weight>: Use a value from 300 to 900*/


h1, h2, h3 {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  *{
    max-width: 700px;
  }
  
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  a{ text-decoration: none;}

  footer img {
    size: .5rem;
  }

  .hero{ position: relative;}

  .hero img{
    display: block;
    width: 100%;
    height: auto;

  }

  h1{
    position:absolute;
    top: 10px;

  }

  article{
    display: block; 
    position: absolute;
    top:30%;
    left: 10%;
    margin: 2px;
    background-color: burlywood;
  }

  article img{
    float: right;
    top: 10px;
  }