
/*<weight>: Use a value from 300 to 900*/


h1, h2, h3 {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  /*{
    max-width: 700px;
  }*/
  
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 20px;
  }

  a{ text-decoration: none;}

  footer img {
max-width: 20px;
  height: auto;
}
  

  .hero{ position: relative;}

  .hero img{
    display: block;
/*width: 100%;*/
    height: auto;

  }

  h1{
    position:absolute;
    top: 10px;
    background-color: aqua;
    opacity: 0.8;
    text-align: center;
    padding: 10px;

  }

  article{
    display: block; 
    width:750px;
    position: absolute;
    top:30%;
    left: 10%;
    margin: 1rem auto;
    padding: 20px;
    background-color: burlywood;
    border: 2px solid rgb(0 0 0 / .1);
    opacity: 0.9;
  }

  article img{
    max-width: 200px;
  height: auto;
    float: right;
    top: 10px;
    margin: 15px;
	box-shadow: 0 0 30px #777;
    border: 2px solid black;
  }