
/*<weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class name*/

h1, h2, h3 {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  a{ text-decoration: none;}

  footer img {
    max-height: 200px;
  }

  .hero{ position: relative;}

  .hero image{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.5;
  }

  h1{
    position:absolute;
  }

  article{ 
    position: absolute;
    background-color: burlywood;
  }

  article image{
    float: right;
  }